body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Calibri', sans-serif;
    background-color: aliceblue;
    gap: 0.5em;
}

h2 {
    margin-right: auto; 
}


form{
    display: flex;
    flex-direction: column;
    gap: 0.02em;
}
fieldset {
    border: none;
    padding: 0;
    margin: 0; 
}
input{
    border-color: gainsboro;
    border-width: 0.04em;
    border-style: solid;
    
}

input[type="number"],
input[type="select"]{
    width: 40em;
    height: 1.5em;
}

input[type="submit"]{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
